#API
PORT=1234

#DATABASE
DB_HOST=localhost
DB_PORT=1234
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_pass

#AWS S3
AWS_REGION=aws_region
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
S3_BUCKET_NAME=bucket_name

#JWT
JWT_SECRET=strong_key
JWT_EXPIRES_IN=7d